
@{
    ViewData["Title"] = "SignupForm";
}

<h1>Please Register</h1>

<form method="post" action="/Mortgage/Thankyou">
    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName" /><br />
    Password: <input type="password" name="Password" /><br />
    <input type="submit" />
</form>
